img {
    width: 500px;
    height: auto;
    border:4px solid lightcoral;
}

*{
    font-family: Helvetica, "Times New Roman", sans-serif;
}

a:visited{
    color: rgb(243, 86, 86);
}

a,
h2,
h3 {
    color: rgb(245, 119, 119);
}

h1 {
    color: rgb(240, 97, 97);
}

p,
li {
    font-size: 18px;
    color: rgb(84, 104, 122);
}

.need,
ul li {
    font-weight: bold;
}

p {
    font-weight: normal;
}

body {
    background-color: rgb(255, 253, 245);
}